/* .bar {
    width: 8px;
    height: 80vh;
    background-color: blue;
    margin: 1px;
} */

body {
    overflow: hidden;
}


#parent {
    /* background-color: aqua; */
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    /* padding-top: 20px; */
    height: 80vh;
    /* margin-bottom: 40px; */
    display: grid;
    /* gap: 1px; */
    /* flex-direction: row; */
    justify-content: center;
    align-items: flex-end;
    grid-auto-flow: column;
    /* grid-template-rows: auto; */
}

.bar {
    width: 8px;
    background-color: blue;
    margin: 0 2px;
    /* margin-right: 1px; */
}