/* .bar {
    width: 8px;
    height: 80vh;
    background-color: blue;
    margin: 1px;
} */

body {
    overflow: hidden;
    box-sizing: border-box;
}

.nav {
    /* background-color: rgb(124, 196, 220); */
    height: 4vh;
    display: flex;
    gap: 20px;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* margin-bottom: 20px; */
}

.sort-button {
    /* background-color: aqua; */
    background-color: rgb(96, 209, 209);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    /* color: white; */
}

.sort-button:hover {
    background-color: aqua;
}

.sort-button:disabled:hover {
    background-color: rgb(96, 209, 209);
}


#parent {
    /* background-color: aqua; */
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    /* padding-top: 20px; */
    height: 80vh;
    /* margin-bottom: 40px; */
    display: grid;
    /* gap: 4px; */
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: flex-end;
    grid-auto-flow: column;
    /* grid-template-rows: auto; */
}

.bar {
    width: 8px;
    background-color: blue;
    /* margin: 0 2px; */
    margin-right: 4px;
    /* overflow-wrap: break-word; */
}